<%= form_with(model: professional, local: true) do |form| %>
  <% if professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% professional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :professional_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :professional_last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :professional_gender %>
  </div>

  <div class="field">
    <%= form.label :skype %>
    <%= form.text_field :skype, id: :professional_skype %>
  </div>

  <div class="field">
    <%= form.label :whatsapp %>
    <%= form.text_field :whatsapp, id: :professional_whatsapp %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about, id: :professional_about %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :professional_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
